body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ec0ca2c7;
}

div {
    padding: 20px;
    margin-top: 30px;
    font-family: sans-serif;
    height: 90%;
    text-align: left;
}

.footer {
    position: fixed;
    padding: 0px;
    margin-top: 0px;
    left: 0;
    top: 85%;
    bottom: 2;
    width: 100%;
    background-color: #333;
    text-align: center;
}

.a-footer {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

button {
    width: 10px;
    height: 10px;
    background: #333;
    margin-left: 17px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 0px;
    color: #ec0ca2c7;
    font-size: 25px;
    transition: .3s ease all;
}

button:hover {
    width: 10px;
    height: 10px;
    border-radius: 3px;
    font-size: 25px;
    background: #333;
    color: white;
}